.sidebar {
    background-color: #99CCFF;
    padding: 2rem;
    min-height: 90vh;
    max-height: 95vh;;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  #sidepaneltitle {
    font-weight: 600;
    color: #333;
  }
  

  .sidebar button {
    background-color: #99CCFF;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    color: #5a635f;
    padding: 0.5rem;
    cursor: pointer;
  }

/* 게시판 스타일 */
.board {
  width: 75vw; /* 원하는 고정 넓이로 설정 */
  height: 95vh;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.board-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.board-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.post-list {
  display: flex;
  flex-direction: column;
}

.post {
  background-color: #CAE1FF;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.post-content {
  font-size: 14px;
  margin-bottom: 5px;
}

.post-author {
  font-size: 12px;
  color: #888;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* 필요에 따라 여백을 조정하세요 */
}

.pagination-buttons button {
  margin-right: 2px; /* 버튼 사이의 간격을 조정하세요 */
}



