body {

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  }
  
  @font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  
  h1{
    font-family: 'twayair';
  }
  
  h2{
    font-family: 'twayair';
  }
  h3{
    font-family: 'twayair';
  }
  h4{
    font-family: 'twayair';
  }
  
  label{
    font-family: 'SUIT-Medium';
    letter-spacing: '10px';
  }
  
  li{
    font-family: 'SUIT-Medium';
  }
  
  div{
    font-family: 'SUIT-Medium';
  }
  
  
  .auth-wrapper  {
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
  
  }
  
  
  
  .auth-wrapper form {
    width: 500px;
    margin: 0 auto;
    padding: 80px 50px;
    background-color: #FFFFFF;
    border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
              0 10px 10px rgba(0,0,0,0.22);
  }
  
  .auth-wrapper h1 {
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
  }
  
  /* .auth-wrapper .form {
    background: #0e101c;
    max-width: 400px;
    margin: 0 auto;
  } */
  
  .auth-wrapper p {
    color: #bf1650;
  }
  
  .auth-wrapper p::before {
    display: inline;
    content: "⚠ ";
  }
  
  .auth-wrapper input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .auth-wrapper label {
    line-height: 2;
    text-align: left;
    display: block;
    margin: 5px 0;
    color: black;
    font-size: 14px;
    font-weight: 200;
  }
  
  .auth-wrapper button[type="submit"],
  .auth-wrapper input[type="submit"] {
    background: #7A84EB;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
    width: 500px;
  }
  
  /* .auth-wrapper #joinbtn{
    background: #7A84EB;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
    width: 500px;
  } */
  
  .message-form-button {
    background: #7A84EB;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
  }
  .message-form-button:hover {
    background:#636ee6;
  }
  .auth-wrapper button[type="submit"]:hover,
  .auth-wrapper input[type="submit"]:hover {
    background: #636ee6;
  }
  
  .auth-wrapper button[type="submit"]:active,
  .auth-wrapper input[type="button"]:active,
  .auth-wrapper input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }
  
  .auth-wrapper input:disabled {
    opacity: 0.4;
  }
  
  .auth-wrapper input[type="button"]:hover {
    transition: 0.3s all;
  }
  
  .auth-wrapper button[type="submit"],
  .auth-wrapper input[type="button"],
  .auth-wrapper input[type="submit"] {
    -webkit-appearance: none;
  }
  
  
  
  .auth-wrapper button[type="button"] {
    display: block;
    appearance: none;
    background: #333;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }
  
  .auth-wrapper hr {
    margin-top: 30px;
  }
  
  .auth-wrapper button {
    display: block;
    appearance: none;
    margin-top: 40px;
    border: 1px solid #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }